fastapi
uvicorn
python-multipart
cloudconvert
pdfplumber
python-docx
python-pptx
python-dotenv
groq
numpy
pydantic
openai
langchain-text-splitters
sqlalchemy
psycopg2-binary
alembic
requests
faiss-cpu
langchain-community
langchain-openai
sentence-transformers
passlib[bcrypt]
python-jose[cryptography]
